body{
    background-color: cadetblue;
}
.navbar-default {
    background-color: firebrick;
    border-color: black;
}
.navbar-default .navbar-brand {
    color: black;
}
.navbar-default .navbar-brand:hover {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.jumbotron {
    background-color: transparent;
}