<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acada</title>
    <%- include ./partials/head %>
</head>
<body>
<header>
    <%- include ./partials/nav %>
    <div class="jumbotron text-center">
        <div class="page-header">
            <h1>Acada</h1>
            <h5>A Video Sharing App</h5>
            <a href="/login"> <button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
        </div>
    </div>
</header>
<section>
</section>
</body>
</html>