<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Standups</title>
    <% include partials %>
</head>
<body>
<header>
    <% include partials %>
    <div class="jumbotron text-center">
        <div class="page-header">
            <h1>ACADE</h1>
            <h5>A video Sharing App</h5>
            <a href="/login"> <button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
        </div>
    </div>
</header>
<section>
</section>
</body>
</html>