<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acada</title>
    <%- include ./partials/head %>
</head>
<body>
<header>
    <%- include ./partials/nav %>
    <div class="jumbotron text-center">
        <div class="page-header">
            <h1>Acada</h1>
            <h5>A Video Sharing App</h5>
            <a href="/login"> <button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
        </div>
    </div>
</header>
<div class="container">

        <div class="col-md-6 pull-left ">
            <p class="lead">Current Project Features</p>
            <ul >
                <li>Local Authentication</li>
                <li>Encrypted Passwords</li>
                <li>Route protection for authenticated users</li>
                <li>New videos can be saved to database</li>
                <li>All videos uploaded by all users can be browsed</li>
                <li>All videos have individual pages with the embedded video</li>
            </ul>
        </div>
        <div class="col-md-6 pull-left ">
            <p  class="lead">To-Do's/Known Bugs</p>
            <ul>
                <li>Implement Facebook authentication</li>
                <li>Improved Form data validation</li>
                <li>Updated user information passwords are not encrypted</li>
            </ul>
        </div>
</div>


</body>
</html>