<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Notes</title>
    <% include ./partials/head %>
</head>
<body>
<header>
    <% include ./partials/nav %>
</header>
<section>
    <div class="container">
        <div class="text-center">
            <h1 class="lead"><%= video.title%></h1>
            <h2>Uploaded By: <%= video.member%> </h2>
            <iframe width="620" height="515"
                    src="<%= video.link%>">
            </iframe>
            <p class=" text-center"> <%= video.description%></p>
        </div>
    </div>
</section>
</body>
</html>